{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block content %}

    <form class="addDemond" action="{{ edit_form.vars.action }}" method="POST">
        <input type="hidden" name="_method" value="{{ edit_form.vars.method }}">

        <h2>系统管理>用户管理>更新用户</h2>

        <div class="demond-theme">
            {{ form_errors(edit_form) }}
            <strong>真实姓名：</strong><br>
            {{ form_widget(edit_form.name, {'attr': {'class': 'theme'} }) }}
        </div>
        <div class="demond-item">
            <strong>所属部门：</strong><br>
            {{ form_widget(edit_form.department , {'attr': {'class': 'item'} }) }}
        </div>
        <div class="demond-company">
            <strong>办公地点：</strong><br>
            {{ form_widget(edit_form.location , {'attr': {'class': 'company'} }) }}
        </div>
        <div class="demond-theme">
            <strong>虎扑账号：</strong><br>
            {{ form_widget(edit_form.hupuAccount , {'attr': {'class': 'theme'} }) }}
        </div>
        <div class="demond-theme">
            <strong>账号密码：(不修改留空)</strong><br>
            {{ form_widget(edit_form.password.first, {'attr': {'class': 'pwd'} }) }}
        </div>
        <div class="demond-theme">
            <strong>确认密码：(不修改留空)</strong><br>
            {{ form_widget(edit_form.password.second, {'attr': {'class': 'confirm_pwd'} }) }}
        </div>

        <div class="demond-theme">
            <strong>手机号：</strong><br>
            {{ form_widget(edit_form.phone , {'attr': {'class': 'theme'} }) }}
        </div>
        <div class="demond-theme">
            <strong>E-mail：</strong><br>
            {{ form_widget(edit_form.email , {'attr': {'class': 'theme'} }) }}
        </div>
        <!-- <div class="demond-company">
            <strong>隶属角色：</strong><br>
            <select name="company" id="" class="company">
                <option value="">管理员</option>
                <option value="">普通用户</option>
            </select>
        </div> -->
        {{ form_rest(edit_form) }}
        <div class="demond-btn">
            <input type="submit" class="add" value="更新">
            <a href="{{ path('user') }}" class="del">返回</a>

        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function trim(str){ //删除左右两端的空格
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }

        //判断两次密码输入是否一致
        $('.add').click(function () {
            var val1 = trim($('.pwd').val());
            var val2 = trim($('.confirm_pwd').val());
            if (val1 == '' || val2 == '') {
                alert('密码不能为空');
                return false;

            }
            if (val1 != val2) {
                alert('两次输入的密码不正确');
                return false;
            }

        })
    </script>

{% endblock %}