{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block content %}

    <form class="addDemond" action="{{ form.vars.action }}" method="POST">
        <input type="hidden" name="_method" value="{{ form.vars.method }}">

        <h2>系统管理><a href="{{ path('user') }}">用户管理</a>>>新增用户</h2>

        <div class="demond-theme">
            {{ form_errors(form) }}
            <strong>真实姓名：</strong><br>
            {{ form_widget(form.name, {'attr': {'class': 'theme'} }) }}
        </div>
        <div class="demond-item">
            <strong>所属部门：</strong><br>
            {{ form_widget(form.department , {'attr': {'class': 'item'} }) }}
        </div>
        <div class="demond-company">
            <strong>办公地点：</strong><br>
            {{ form_widget(form.location , {'attr': {'class': 'company'} }) }}
        </div>
        <div class="demond-theme">
            <strong>虎扑账号：</strong><br>
            {{ form_widget(form.hupuAccount , {'attr': {'class': 'zhanghao'} }) }}
        </div>
        <div class="demond-theme">
            <strong>账号密码：</strong><br>
            {{ form_widget(form.password.first, {'attr': {'class': 'pwd'} }) }}
        </div>
        <div class="demond-theme">
            <strong>确认密码</strong><br>
            {{ form_widget(form.password.second, {'attr': {'class': 'confirm_pwd'} }) }}
        </div>

        <div class="demond-theme">
            <strong>手机号：</strong><br>
            {{ form_widget(form.phone , {'attr': {'class': 'phone'} }) }}
        </div>
        <div class="demond-theme">
            <strong>E-mail：</strong><br>
            {{ form_widget(form.email , {'attr': {'class': 'email'} }) }}
        </div>
        <!-- <div class="demond-company">
            <strong>隶属角色：</strong><br>
            <select name="company" id="" class="company">
                <option value="">管理员</option>
                <option value="">普通用户</option>
            </select>
        </div> -->
        {{ form_rest(form) }}
        <div class="demond-btn">
            <input type="submit" class="add" value="创建">
            <a href="{{ path('user') }}" class="back">返回</a>

        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('.add').click(function () {
            var val1 = $.trim($('.pwd').val());
            var val2 = $.trim($('.confirm_pwd').val());
           

            var theme = $.trim( $('.theme').val() );
       
            var item = $('.item').find("option:selected").val();
            var company = $('.company').find("option:selected").val();
            var zhanghao = $.trim( $('.zhanghao').val() );
            var phone = $.trim( $('.phone').val() );
            var email = $.trim( $('.email').val() );

            var reg = /^1(3[4-9]|5[012789]|8[78])\d{8}$/;
            var reg1 = /^18[09]\d{8}$/;
            var reg2 = /^1(3[0-2]|5[56]|8[56])\d{8}$/;
            
            var reg3 = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;

            if (theme == '' || item == '' || company == '' || zhanghao==''||phone==''||email=='') {
                alert('请完整填写信息');

                return false;
            }
            else if(val1 == '' || val2 == ''){
                alert('密码不能为空');
                return false;
            }
            else if(val1 != val2) {
                alert('两次输入的密码不正确');
                return false;
            }
            else if( !(reg.test(phone)||reg1.test(phone)||reg2.test(phone)) ){
                alert('请填写正确的手机号码');

                return false;
            }else if( !(reg3.test(email)) ){
                alert('请填写正确的邮箱');

                return false;
            }

        })
    </script>

{% endblock %}