{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block title %}虎扑协作平台{% endblock %}

{% block content %}
    <div class="addDemond">
        <h2>系统管理>查看用户</h2>

        <div class="show-theme">
            <strong>真实姓名：</strong>

            <p>{{ entity.name }}</p>
        </div>
        <div class="show-item">
            <strong>所属部门：</strong>

            <p><{{ entity.department }}/p>
        </div>
        <div class="show-company">
            <strong>办公地点：</strong>

            <p>{{ entity.location }}</p>
        </div>
        <div class="show-area">
            <strong>虎扑账号：</strong>

            <p>
                {{ entity.hupuAccount }}
            </p>
        </div>

        <div class="show-people">
            <strong>手机号：</strong>

            <p>{{ entity.phone }}</p>
        </div>
        <div class="show-people">
            <strong>E-mail：</strong>

            <p>{{ entity.email }}</p>
        </div>

        <div class="demond-btn">

            <a href="{{ path('user') }}" class="del">返回</a>

        </div>
    </div>

{% endblock %}