{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block title %}虎扑协作平台{% endblock %}

{% block content -%}
    {{ parent() }}
    <div class="container">

        <div class="starter-template">
            <form action="{{ path('requirement') }}" method ="get" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <input type="submit" />
            </form>

            <table class="records_list">
                <thead>
                <tr>
                    <th>更新时间</th>
                    <th>运动项目</th>
                    <th>单位性质</th>
                    <th>所属地区</th>
                    <th>需求主题</th>
                    <th>内部联络人</th>
                    <th>反馈时间</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{% if entity.updatetime %}{{ entity.updatetime|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ entity.sports }}</td>
                        <td>{{ entity.company }}</td>
                        <td>{{ entity.province }}</td>
                        <td><a href="{{ path('requirement_show', { 'id': entity.id }) }}">{{ entity.subject }}</a></td>
                        <td>{{ entity.city }}</td>
                        <td>{% if entity.reporttime %}{{ entity.reporttime|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('requirement_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('requirement_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('requirement_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>



        </div>

    </div><!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@SitePlatformBundle/Resources/public/js/PCASClass.utf8.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>

    <script type="text/javascript">
        new PCAS("form_province","form_city");
    </script>

    {% endjavascripts %}
{% endblock %}
