{% extends '::base.html.twig' %}

{% block body -%}
    <form action="{{ path('requirement') }}" method ="get" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

    <form action="{{ path('requirement') }}" method="get">
        <ul style="list-style: none;" class="search">
            <li>
                <a href="{{ path('requirement_new') }}">
                    添加
                </a>
            </li>

            <li>需求主题: <input type="text" name="subject" style="width: 100px"/></li>

            <li>客户单位: <input type="text" name="company" style="width: 100px"/></li>

            <li><input type="submit" value="提交"/></li>
        </ul>
    </form>
    <h1>需求列表</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>需求主题</th>
            <th>客户单位</th>
            <th>客户行业</th>
            <th>Background</th>
            <th>Description</th>
            <th>Starttime</th>
            <th>Endtime</th>
            <th>Status</th>
            <th>分类</th>
            <th>发起人</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('requirement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subject }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.background }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.startTime %}{{ entity.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.endTime %}{{ entity.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.statusZh }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.initiator }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('requirement_show', { 'id': entity.id }) }}">详细信息</a>
                        </li>
                        <li>
                            <a href="{{ path('requirement_edit', { 'id': entity.id }) }}">编辑</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
