{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Requirement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ entity.subject }}</td>
            </tr>
            <tr>
                <th>Sports</th>
                <td>{{ entity.sports }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ entity.company }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ entity.province }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Update_time</th>
                <td>{{ entity.updatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Report_time</th>
                <td>{{ entity.reporttime|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('requirement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('requirement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
