{% extends '::base.html.twig' %}

{% block title %}虎扑协作平台{% endblock %}

{% block body %}
    {% set controller =  app.request.attributes.get('_template').get('controller')  %}
    <div class="wrap">
        <div class="head-con">
            <div class="head-conLogo"><a href="#"></a><span>内部协作平台</span></div>
            <ul>
                <li {% if controller == 'Recent' %}class="cur"{% endif %}><a href="{{ path('recent') }}">最新更新</a></li>
                <li {% if controller == 'Requirement' %}class="cur"{% endif %}><a href="{{ path('requirement') }}">需求管理</a></li>
                <li {% if controller == 'Resource' %}class="cur"{% endif %}><a href="{{ path('resource') }}">资源管理</a></li>
                <li {% if controller == 'User' %}class="cur"{% endif %}><a href="{{ path('user') }}">系统管理</a></li>
            </ul>
            <div class="user-info">
				<span>
					用户名：
					<a href="#">{% if app.user %}{{ app.user.username }}{% endif %}</a>
				</span>
                <a href="{{ path('logout') }}">【退出】</a>
            </div>
        </div>

        {% block content %}

        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="http://b1.hoopchina.com.cn/common/jquery-1.8.js"></script>

{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="http://b3.hoopchina.com.cn/common/common-v1.css" />
    {% stylesheets
    'bundles/siteplatform/css/index.css'
    output="css/compiled/build.css"
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}