{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block content %}

    <form class="addDemond" action="{{ form.vars.action }}" method="POST">
        <h2>
            <a href="{{ path('resource') }}">资源管理</a> >查看资源
        </h2>

        <div class="demond-theme">
            <strong>BD资源名称：</strong><br>
            {{ form_widget(form.subject , {'attr': {'class': 'theme'} }) }}
        </div>
        <div class="demond-item">
            <strong>运动项目：</strong><br>
            {{ form_widget(form.sports , {'attr': {'class': 'item'} }) }}
        </div>
        <div class="demond-company">
            <strong>单位性质：</strong><br>
            {{ form_widget(form.companyType) }}
        </div>
        <div class="selWrap">
            <div class="sel1">
                <strong>国家/地区：</strong><br>
                <select name="country" id="country" class="liandong"></select>
            </div>
            <div class="sel2">
                <strong>省/州：</strong><br>
                <select name="province" id="province" class="liandong"></select>
            </div>
            <div class="sel3">
                <strong>市：</strong><br>
                <select name="city" id="city" class="liandong"></select>
            </div>
        </div>
        <div class="demond-desc">
            <strong>BD资源简述：</strong><br>
            {{ form_widget(form.description) }}
        </div>
        <div class="selWrap2">
            <div class="sel4">
                <strong>联络人：</strong><br>
                {{ form_widget(form.contact , {'attr': {'class': 'liandong'} }) }}
            </div>
            <div class="sel5">
                <strong>部门：</strong><br>
                {{ form_widget(form.department , {'attr': {'class': 'liandong'} }) }}
            </div>
        </div>
        <div class="demond-time">
            <strong>反馈时间：</strong>
            <br/>
            {{ form_widget(form.reportTime , {'attr': {'class': 'Wdate'} }) }}
        </div>

        {{ form_rest(form) }}
        <div class="demond-btn">
            <input type="submit" class="add" value="创建">
            <a href="{{ path('requirement') }}" class="del">
                返回
            </a>

        </div>
    </form>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@SitePlatformBundle/Resources/public/js/area.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>

    <script>
        var s = ["country", "province", "city"];//三个select的id
        var country_id = '#' + '{{ form.country.vars.id }}';
        var province_id = '#' + '{{ form.province.vars.id }}';
        var city_id = '#' + '{{ form.city.vars.id }}';

        _init_area('{{ form.country.vars.data }}', '{{ form.province.vars.data }}', '{{ form.city.vars.data }}');

        $('.add').bind('click', function () {
            $(country_id).val($("#country").find("option:selected").val());
            $(province_id).val($("#province").find("option:selected").val());
            $(city_id).val($("#city").find("option:selected").val());
            // alert($(country_id).val() + ' ' + $(province_id).val() + ' ' + $(city_id).val());

        })

    </script>
    {% endjavascripts %}

{% endblock %}
