{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block content %}
    <div class="addDemond">
        <h2>
            <a href="{{ path('resource') }}">资源管理</a> >查看资源
        </h2>

        <div class="show-theme">
            <strong>需求主题：</strong>

            <p>{{ entity.subject }}</p>
        </div>
        <div class="show-item">
            <strong>运动项目：</strong>

            <p>{{ entity.getSportsZh }}</p>
        </div>
        <div class="show-company">
            <strong>单位性质：</strong>
            <p>{{ entity.companyTypeZh }}</p>
        </div>
        <div class="show-area">
            <strong>所属地区：</strong>

            <p>
                <span>{{ entity.country }}</span>，
                <span>{{ entity.province }}</span>,
                <span>{{ entity.city }}</span>
            </p>
        </div>
        <div class="show-desc">
            <strong>需求简述：</strong>

            <p>
                {{ entity.description }}
            </p>
        </div>
        <div class="show-people">
            <strong>联络人及部门：</strong>

            <p><span>{{ entity.departmentZh }}</span> -
                <span>{% if entity.contact %}{{ entity.contact.name }}{% endif %}</span></p>
        </div>
        <div class="demond-time">
            <strong>反馈时间：</strong><br>

            <p>{{ entity.reporttime|date('Y-m-d') }}</p>
        </div>
        <div class="demond-btn">

            <a href="{{ path('resource') }}" class="del">返回</a>

        </div>
    </div>

{% endblock %}
